{% extends 'index.html.jinja2' %}

{% block page_header %}
    Containers
{% endblock %}

{% block content %}
    <div>
        <table class="table">
            <thead>
            <tr>
                <td>Name</td>
                <th style="width: 250px;">Last Saved</th>
                <th style="width: 100px;">Choose</th>
            </tr>
            </thead>
            <tbody>
            {% for container in containers %}
                <tr>
                    <td>{{ container.name }}</td>
                    <td>{{ container.last_updated.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>Action</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3" class="text-center">No data available</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
